.row.preloader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.row.preloader h2 {
    color: #fff !important;
    font-size: 35px;
    font-family: Poppins;
    padding-top: 35px;
    font-weight: 800;
    letter-spacing: 5px;
}
.imagepre.col-sm-12 {
    text-align: center;
}
.row.preloader img{
    width: 7%;
}

.row.preloader img {
    width: 13%;
}

.row.preloader h2 {
    color: #fff !important;
    font-size: 27px;
    font-family: 'Poppins' !important;
    padding-top: 0px;
    font-weight: 800;
    letter-spacing: 0px;
}

.row.preloader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow-y: hidden !important;
    overflow-x: hidden !important;

}

h2.loaderh2 {
    margin-top: -35px;
    font-weight: 200 !important;
}

.row.preloader h2 {
    color: black !important;
    font-weight: 600 !important;
}

.row.preloader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

img.zoom-in-zoom-outa {
    mix-blend-mode: plus-lighter;
}

.row.preloader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.row.preloader h2 {
    color: white !important;
    font-weight: 600 !important;
    margin-left: -5px;
}

@media screen and (max-width: 820px) {
    .row.preloader img {
        width: 24% !important;
    }
}

@media screen and (max-width: 500px) {

.row.preloader img {
    width: 48% !important;
}
}